.you-win {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 90%;
}

.winer-img,
.loser-img {
  border-radius: 25px;
  background-color: #fff;
  min-height: 200px;
  min-width: 200px;

  max-width: 250px;
  max-height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 5px;
}

.play-area h1 {
  font-size: 22px;
}

.play-area a {
  border-radius: 20px;
  border: 3px solid #1bbd16;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
}
