header {
  width: 100%;
  padding: 10px 10px;
  text-align: center;
  background-color: var(--header-bg);
  color: var(--header-letter-color);
  font-size: 0.9em;
}

#audio-player {
  width: 200px;
}
.audio-button {
  padding: 0 5px;
  border: none;
  background-color: transparent;
}
.audio-button:hover {
  cursor: pointer;
}

@media (min-width: 400px) {
  .audio-button svg {
    height: 20px;
    width: 20px;
  }
}
